In [56]:
import pandas as pd
import re

In [146]:
filename = "C:\\Users\parenti daniele\\code-projects\\advent-of-code\\day1\\trebuchet-input.txt"
# filename = "C:\\Users\parenti daniele\\code-projects\\advent-of-code\\day1\\test.txt"

## Part 1

In [151]:
# put into a dataframe
df =  pd.read_csv(filename, names=['input'])
# extract first digit into a new column
df['first'] = df['input'].str.extract('(\d)')
# extract last digit into a new column
df['last'] = df['input'].str.extract('(\d)[^\d]*$')
# concatenate columns
df['concat']=df["first"].astype(str) + df["last"]
df['concat']=df['concat'].astype(int)

#sum column
print(df['concat'].sum())

54338

## Part 2

In [147]:
df =  pd.read_csv(filename, names=['input'])
df

                             input
0     2911threeninesdvxvheightwobm
1       3three16xsxhpnqmzmnine8one
2                seven5khtwo891hlb
3                sixthreeqpzjpn195
4                            jrnf3
..                             ...
995               7783twonineeight
996                      1fourfour
997      4fourztnthreeone8mqmdfour
998  fbfvqgvqfone5nctdcdpteighttwo
999            dhfbhone4fourlgzftg

[1000 rows x 1 columns]

In [148]:
# match digits
df['first_num'] = df['input'].str.extract('(\d)')
# extract last digit into a new column
df['last_num'] = df['input'].str.extract('(\d)[^\d]*$')
# dict replace to int
number_word_to_digit = {
    "one": 1, "two": 2, "three": 3, "four": 4, "five": 5, 
    "six": 6, "seven": 7, "eight": 8, "nine": 9, "zero": 0,
    
}
df['words_and_digits']=df['input'].apply(lambda x: re.findall(r'\d|one|two|three|four|five|six|seven|eight|nine', x))
df['first']=df['words_and_digits'].str[0]
df['last']=df['words_and_digits'].str[-1]
df['first']=df['first'].replace(number_word_to_digit)
df['last']=df['last'].replace(number_word_to_digit)
df['concat']=df["first"].astype(str) + df["last"].astype(str)
df['concat']=df['concat'].astype(int)

In [149]:
df

,input,first_num,last_num,words_and_digits,first,last,concat
0,2911threeninesdvxvheightwobm,2,1,"[2, 9, 1, 1, three, nine, eight]",2,8,28
1,3three16xsxhpnqmzmnine8one,3,8,"[3, three, 1, 6, nine, 8, one]",3,1,31
2,seven5khtwo891hlb,5,1,"[seven, 5, two, 8, 9, 1]",7,1,71
3,sixthreeqpzjpn195,1,5,"[six, three, 1, 9, 5]",6,5,65
4,jrnf3,3,3,[3],3,3,33
...,...,...,...,...,...,...,...
995,7783twonineeight,7,3,"[7, 7, 8, 3, two, nine, eight]",7,8,78
996,1fourfour,1,1,"[1, four, four]",1,4,14
997,4fourztnthreeone8mqmdfour,4,8,"[4, four, three, one, 8, four]",4,4,44
998,fbfvqgvqfone5nctdcdpteighttwo,5,5,"[one, 5, eight, two]",1,2,12
999,dhfbhone4fourlgzftg,4,4,"[one, 4, four]",1,4,14

In [150]:
df.concat.sum()

53407